.listContainer {
  min-height: 60vh;
  padding: 0.75rem;

  .listTitle {
    display: flex;
    /* margin-bottom: 0.5rem; */
    justify-content: space-between;
    align-items: flex-end;

    button {
      background-color: $clear-button-color;
      font-size: 1rem;
      padding: 0 0.1rem;
      margin-bottom: 0.5rem;
      @include mq(768) {
        padding: 0 0.5rem;
      }
    }
  }

  hr {
    width: 100%;
    margin-bottom: 10px;
  }

  .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input[type="checkbox"] {
      text-align: center;
      width: 2.5rem;
      min-width: 48px;
      height: 2.5rem;
      min-height: 48px;
      cursor: pointer;
      margin-right: 1.5rem;
    }
    input[type="checkbox"]:hover + label {
      text-decoration: underline;
    }
    label {
      font-size: 1.1rem;
    }
  }
}
