.newItemEntry {
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  padding: 0.75rem;
  form {
    display: flex;
    justify-content: space-between;
  }
  label {
    position: absolute;
    left: -1000px;
  }
  input[type="text"] {
    width: 80%;
    padding: 0.75rem;
    font-size: 1.25rem;
    outline: none;
    border: 2px solid $textbox-bordercolor;
    border-radius: 10px;
  }
  button {
    font-size: 1.25rem;
    padding: 0.75rem;
    background-color: $add-button-color;
    @include mq(758) {
      font-size: 1.5rem;
    }
  }
}
